.container {
  position: relative;
  display: inline-block;
}

.buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 1rem;
  background-color: #ffffff !important; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  gap: 0.5rem;
  border: 1px solid #d1d5db !important;
  font-weight: 500;
  cursor: pointer;
  outline: none; 
}

.buttonBaseTransition{
   transition: background-color 0.2s ease;
}

.buttonBase:hover:not(:disabled) {
  background-color: #e5e7eb !important; 
}

.buttonBase:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.menuContainer {
  position: absolute;
  z-index: 20;
}

.menuWrapper {
  background-color: white;
  border-radius: 9999px;
  z-index: 20;
}

/* Alignment Helpers */
.alignStart { left: 0; }
.alignCenter { left: 50%; transform: translateX(-50%); }
.alignEnd { right: 0; }

.sideTop { bottom: 100%; margin-bottom: 0.75rem; }
.sideBottom { top: 100%; margin-top: 0.75rem; }

.textDefault { color: #333436; } 
.textActive { color: #3b82f6; } 